/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

header {
  height: 500px;
  background-color: #3400ff;
}

nav {
  float: right;
  margin-right: 40px;
  margin-top: 15px;
}

.nav-item {
  cursor: pointer;
  margin-right: 20px;
  color: #ffffff;
}

.nav-item-active {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  margin-right: 10px;
  font-weight: 500;
}

.logo {
  margin: 20px;
}

.header-text {
  color: #ffffff;
  margin-left: 20px;
  float: left;
}

.header-image {
  float: right;
  margin-top: 20px;
}

.companies {
  margin-top: 20px;
  margin-left: 60px;
}

.company-items {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin-left: 30px;
}

.api-heading {
  font-weight: 800;
  margin-left: 90px;
  margin-top: 100px;
}

.cards {
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
}

.card {
  width: 20%;
  height: 250px;
  background-color: #ffffff;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
}

.card-active {
  width: 20%;
  height: 250px;
  background-color: transparent;
  margin-right: 30px;
  box-shadow: 0 5px 15px #7e7e7e;
  padding: 10px;
  border-radius: 10px;
}

.card-logo {
  margin-top: 30px;
}

.card-head {
  color: #000000;
}

.card-head-active {
  color: #3400ff;
}

/* .blog-heading {
  margin-left: 90px;
}

.blog-cards {
  margin-left: 90px;
  display: flex;
}

.blog-card {
  height: 300px;
  width: 30%;
} */

.blog-heading {
  margin: 2rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

.blog-cards {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blog-card {
  display: flex;
  box-shadow: 5px 5px 5px #c1c1c1;
}

.blog-content {
  padding: 2rem;
}

.blog-content > h6 {
  margin: 0.5rem 0;
}

.blog-bottom {
  display: flex;
  padding: 1rem 0;
  align-items: flex-start;
  justify-content: center;
}

.blog-author {
  padding-left: 0.5rem;
}

.faq-section {
  margin: 4rem 0;
  display: flex;
}

.faq-content {
  flex-basis: 50%;
  background-color: #d0ecff;
  padding: 1rem;
}

.faq-content > h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.faq-content > button {
  color: white;
  background-color: #5a31fc;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1.5rem;
}

.faq-image {
  flex-basis: 50%;
  background-color: #d0ecff;
}

.faq-image > img {
  width: 100%;
  height: 100%;
}

.download-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
}

.download-content {
  flex-basis: 50%;
}

.download-content > h1 > span {
  font-weight: 400;
}

.download-email {
  flex-basis: 50%;
  background-color: #e6e0ff;
  border-radius: 30px;
}

.download-email > form {
  display: flex;
  align-items: center;
}

.download-email > form > input {
  border: none;
  background: transparent;
  padding: 1rem;
  flex-basis: 80%;
}

.download-email > form > input:focus {
  outline: none;
  /* border: none; */
}

.download-email > form > button {
  background: #5a31fc;
  color: #f5f5f5;
  border: none;
  padding: 1rem 0;
  flex-basis: 20%;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.938rem;
}

.download-email > form > button:hover {
  cursor: pointer;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3400ff;
  color: white;
  padding: 4rem 2rem;
}

.footer-left {
  flex-basis: 70%;
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
}

.footer-logo {
  width: 10%;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.list > .list-items:not(:first-of-type) {
  padding: 0 1rem;
  font-weight: 200;
  border-right: 1px solid white;
}

.list > .list-items:last-of-type {
  border-right: none;
}

.footer-logos {
  margin: 0 0.5rem;
}

.footer-right:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-list > .list-items {
  padding: 0 1rem;

  border-right: 1px solid white;
}
